[samus]
    bind_addr = "{{ .Env.BIND_ADDR }}"
    signing_key = "{{ .Env.SIGNING_KEY }}"
    auth_provider = "{{ .Env.AUTH_PROVIDER }}"
    log_DAG_requests = {{ .Env.LOG_DAG_REQUESTS }}
    log_edge_requests = {{ .Env.LOG_EDGE_REQUESTS }}
    log_node_requests = {{ .Env.LOG_NODE_REQUESTS }}
    log_menu_requests = {{ .Env.LOG_MENU_REQUESTS }}
    tls_enabled = {{ .Env.TLS_ENABLED }}
    tls_cert = "{{ .Env.TLS_CERT }}"
    tls_key = "{{ .Env.TLS_KEY }}"
    tls_auto_enabled = {{ .Env.TLS_AUTO_ENABLED }}
    tls_auto_hosts = "{{ .Env.TLS_AUTO_HOSTS }}"

[ldap]
    host = "{{ .Env.LDAP_HOST }}"
    port = {{ .Env.LDAP_PORT }}
    base_dn = "{{ .Env.LDAP_BASE_DN }}"
    bind_dn = "{{ .Env.LDAP_BIND_DN }}"
    bind_password = "{{ .Env.LDAP_BIND_PASSWORD }}"
    user_filter = "{{ .Env.LDAP_USER_FILTER }}"
    use_ssl = {{ .Env.LDAP_USE_SSL }}

[oauth]
    host = "{{ .Env.OAUTH_HOST }}"
    client_id = "{{ .Env.OAUTH_CLIENT_ID }}"
    response_type = "{{ .Env.OAUTH_RESPONSE_TYPE }}"

[postgres]
    dsn = "{{ .Env.POSTGRES_DSN }}"
